html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

img {
	display: block;
}
svg {
	display: block;
	max-width: 100%;
	height: auto;
}

:root {
	--main-background: #fef8f5;
	--header-title-and-bcg-item: white;
	--accent-text: #ee4d47;
}
.page {
	background: var(--main-background);

	font-family: Rubik;
	font-size: 18px;
	color: #402b2b;
	margin-left: auto;
	margin-right: auto;
}

.container {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	outline: 5px solid red;
}

.header {
	position: relative;
	height: 1195px;
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;

	background-color: var(--main-background);
	background-image: url(../images/main-bcg.png), url(../images/mobel.png),
		linear-gradient(310.49deg, #ffedba 16.76%, #ee4d47 92%);
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-position: 0 0, bottom left, 0 0;
}

.logo {
	fill: white;
	width: 212px;
	height: 50px;
	display: block;
}

.btn {
	background: #ee4d47;
	border-radius: 5px;
	border: 0px;
	padding: 20px 24px;
	color: var(--header-title-and-bcg-item);
	font-weight: bold;
	cursor: pointer;
}

.arrow-icon {
	display: inline-block;
	width: 30px;
	height: 12px;
	background-image: url(../images/arrow-right.svg);
	background-repeat: no-repeat;
	margin-left: 23px;
}

.header-title {
	font-family: DM Serif Display;
	color: var(--header-title-and-bcg-item);
	font-size: 100px;
	line-height: 100%;

	width: 741px;
	height: 300px;

	margin-bottom: 60px;
	margin-top: 0px;
}

.navigation {
	display: flex;
	align-items: center;
	padding-top: 40px;
	margin-bottom: 90px;
}

.navigation-list {
	list-style: none;
	display: flex;
	align-items: center;
	margin-left: auto;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

.navigation-item {
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.05em;
	font-style: normal;
}

.navigation-item:not(:last-child) {
	margin-right: 90px;
}

.navigation-link {
	text-decoration: none;
	color: #ffffff;
}

.block-about {
	display: flex;
	background-image: url(../images/image-1.png);
	background-repeat: no-repeat;
	background-position: right;
	padding-top: 150px;
	padding-bottom: 150px;
}

.content-container {
	width: 45%;
}

.section {
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
}

.section:nth-child(3n) {
	background-image: url(../images/bcg-faq.png);
	background-repeat: no-repeat;
	background-position: right 0;
}

.section-title {
	margin: 0px;
	color: var(--accent-text);
	margin-bottom: 40px;
}

.section-text {
	width: 470px;
	font-weight: 300;
	font-size: 18px;
	line-height: 2.22;
	margin-top: 0px;
	margin-bottom: 70px;
}

.notify-paragraph {
	font-weight: 500;
	font-size: 24px;
	line-height: 1.5;
	color: #402b2b;
	margin: 0px;

	background: #ED4D4770;

	padding: 30px 40px;
	border-left: 10px solid #ed4d47;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
}

.block-how-to-apply {
	padding-top: 120px;
	padding-bottom: 150px;
	background-image: url(../images/image-2.png);
	background-repeat: no-repeat;
}

.block-how-to-apply .content-container {
	margin-left: auto;
}

.block-faq {
	padding-top: 240px;
	padding-bottom: 240px;

	background-image: url(../images/delivery-man-why.png), url(../images/delivery-man.png);

	background-repeat: no-repeat;
	background-position: top 84px right 467px, top 61px right 40px;
}

.faq-text {
	font-family: DM Serif Display;
	font-size: 48px;
	line-height: 1.39;
	color: #402b2b;
	margin-top: 0px;
	margin-bottom: 170px;
}

.faq-list {
	list-style: none;

	display: flex;
	flex-wrap: wrap;
	margin: 0px;
	padding: 0px;
}

.faq-item {
	position: relative;
	margin-right: 20px;
	margin-bottom: 10px;
	width: calc((100% - 20px) / 2);
	height: 90px;
	padding: 15px 115px 15px 35px;

	border-radius: 10px;
	background-color: #fff;

	display: flex;
	align-items: center;
}

.faq-item:nth-child(2n) {
	margin-right: 0px;
}

.faq-item:last-child {
	background-color:#ed4d476e;
	justify-content: center;
	
}

.faq-item:hover {
	box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
}

.faq-question {
	margin: 0px;
	font-family: Rubik;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 30px;
	color: #402b2b;
}

.faq-question-last {
	font-weight: 700;
	color: #ed4d47;
}

.icon-plus {
	position: absolute;
	z-index: 100;
	right: 35px;
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url(../images/icon-plus.svg);
}
